@model IEnumerable<OWNABooks.Models.Book>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id= item.Id}) |
                </td>
            </tr>
        }
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li><a href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">&laquo; Previous</a></li>
        }

        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
            if (i == ViewBag.CurrentPage)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Index", new { page = i })">@i</a></li>
            }
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li><a href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next &raquo;</a></li>
        }
    </ul>
</nav>
